.contenedor-card {
    width: 250px;
    background-color: whitesmoke;
    padding: 1.5rem;
    border-radius: 20px;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}

.card {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

.contenedor-image{
    max-width: max-content;
    border-radius: 100%;
}

.contenedor-image img {
    border-radius: 100%;
    background-size: cover;
    border: 2px solid black;
}